:root {
  --rosa-escuro: #8b2f5f;
  --rosa-claro: #e492a5;
  --rosa-vibrante: #ff4f87;
  --rosa-suave: #d897a0;
  --rosa-neutro: #b68ba6;
  --rosa-destaque: #e03b72;
  --fundo-escuro: #8b2f5f;
  --fundo-claro: #ffffff;
}

/* Estilos gerais */
body {
  background-color: var(--fundo-escuro);
  color: var(--rosa-suave);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}