.skills {
  text-align: center;
  padding: 50px;
  background-color: var(--fundo-escuro);
}

.title {
  font-size: 2em;
  color: var(--fundo-claro);
  margin-bottom: 50px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.title.animate {
  opacity: 1;
  transform: translateY(0);
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 3.0em;
  justify-content: center;
  list-style: none;
}

.item {
  background: #111;
  padding: 20px;
  border-radius: 0px 15px 0px 15px;
  text-align: center;
  color: var(--rosa-vibrante);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(50px);
}

.item.animate {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s, transform 1s;
}

.item:hover {
  background: #222;
}

.icon {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.name {
  font-size: 1em;
  color: var(--fundo-claro);
}