.header {
  position: sticky;
  top: 0;
  width: 100%;
  color: var(--texto-principal); 
  background-color: var(--fundo-secundario); 
  z-index: 1000;
  padding: 15px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.h1 {
  font-size: 1.8rem; 
  font-weight: bold;
  color: var(--destaque-roxo); 
  text-transform: uppercase;
  letter-spacing: 1.5px; 
  text-shadow: 2px 2px 6px rgba(187, 134, 252, 0.3); 
  margin: 0; 
}

/* Container com espaçamento */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px; 
  padding: 0 200px;
  gap: 20px; 
}

/* Ícone do Menu */
.menuIcon {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  color: var(--destaque-roxo); /* Roxo claro para ícone */
  font-size: 1.8rem; /* Tamanho do ícone */
}

.menuIcon:hover {
  transform: scale(1.1);
  color: var(--destaque-roxo-hover); /* Roxo mais escuro no hover */
}

/* Overlay com blur */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 99;
}
/* Responsividade */
@media (max-width: 768px) {
  .header {
    padding: 10px 15px; /* Padding reduzido para telas menores */
  }

  .h1 {
    font-size: 1.5rem; /* Tamanho menor para telas pequenas */
  }

  .menuIcon {
    display: block; /* Mostra o ícone do menu em telas menores */
  }

  .container {
    padding: 0 10px; /* Padding reduzido */
    gap: 10px; /* Espaçamento reduzido */
  }

  .toggleSwitch {
    margin-left: 0; /* Alinhamento ajustado */
  }
}