.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  background-color: rgba(49, 6, 68, 0.781);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%); 
  transition: transform 0.3s ease-in-out; 
}

.navbar.open {
  transform: translateX(0);
}

/* Quando a Navbar está fechada */
.navbar.closed {
  transform: translateX(-100%);
}

.navTitle {
  color: #b386fa;
  font-size: 40px;
  margin: 0;
  padding: 1.5rem 0 4.5rem 0;
}

.navList {
  list-style: none;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 0 3rem 0;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 40px;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #d18fe9;
}
