/* Estiliza a navbar para ficar centralizada */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
  }
  
  /* Remove os estilos padrão da lista */
  .nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
  }
  
  /* Estiliza os itens */
  .nav-list li {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Estiliza os links */
  .nav-list a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  /* Efeito hover */
  .nav-list a:hover {
    color: #9b59b6;
  }
  