.navbar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro com transparência */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 100;
  backdrop-filter: blur(10px); /* Efeito de blur para o fundo */
}

.navbar.open {
  transform: translateX(0);
}

.navbar.closed {
  transform: translateX(-100%);
}

.navTitle {
  color: var(--fundo-claro);
  font-size: 3rem; /* Tamanho maior para destaque */
  margin: 0;
  padding: 2.5rem 0 2rem 0;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra mais forte */
  font-weight: bold;
  letter-spacing: 2px; /* Espaçamento entre letras para um visual moderno */
  text-transform: uppercase; /* Deixa o texto em maiúsculas */
}

.navList {
  list-style: none;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 2rem; /* Aumenta o espaçamento entre os itens */
  padding: 2rem 0 3rem 0;
  margin: 0;
}

.navLink {
  color: var(--fundo-claro);
  text-decoration: none;
  font-size: 1.8rem;
  padding: 0.8rem 2rem; /* Aumenta o padding para melhorar a área de clique */
  border: 2px solid rgba(255, 255, 255, 0.5); /* Borda com transparência */
  border-radius: 30px; /* Bordas arredondadas para um visual moderno */
  background-color: rgba(255, 255, 255, 0.1); /* Fundo com leve transparência */
  transition: all 0.3s ease-in-out;
}

.navLink:hover {
  color: var(--destaque-roxo); /* Roxo claro para destaque */
  background-color: rgba(187, 134, 252, 0.2); /* Fundo com leve roxo */
  border-color: var(--destaque-roxo); /* Borda muda para a cor de destaque */
  text-shadow: 2px 2px 6px rgba(187, 134, 252, 0.3); /* Sombra suave em roxo */
  transform: translateY(-3px); /* Efeito de elevação ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
  .navTitle {
    font-size: 2.5rem; /* Ajusta o tamanho do título para telas menores */
  }

  .navLink {
    font-size: 1.5rem; /* Ajusta o tamanho da fonte para telas menores */
    padding: 0.6rem 1.5rem; /* Ajusta o padding para telas menores */
  }
}