.aboutText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 15%;
  background-color: var(--rosa-escuro);
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.aboutText.animate {
  opacity: 1;
  transform: translateY(0);
}

.aboutText h1 {
  font-size: 2.5em;
  color: var(--rosa-claro);
  margin-bottom: 15px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.aboutText p {
  line-height: 1.8;
  font-size: 1.1em;
  color: var(--rosa-suave);
  max-width: 800px;
  font-weight: 300;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .aboutText {
    padding: 40px 8%;
  }

  .aboutText h1 {
    font-size: 2em;
  }

  .aboutText p {
    font-size: 1em;
    line-height: 1.6;
  }
}